name: Publish

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  common:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
          cache-dependency-path: ./package-lock.json

      - run: npx lerna bootstrap
      - run: npx lerna run build

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo " - Split main [sdk-nestjs](https://www.npmjs.com/package/@multiversx/sdk-nestjs) package into multiple packages" >> notes.txt
          echo "" >> notes.txt

          RELEASE_TAG=v$(node -p "require('./lerna.json').version")
          gh release create $RELEASE_TAG --target=$GITHUB_SHA --title="$RELEASE_TAG" --generate-notes --notes-file=notes.txt

      - name: Publish to npmjs
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        run: lerna publish --force-publish=* --no-git-tag-version --no-push --yes
